<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Static/css/AdminLTE.min.css")
    @Styles.Render("~/Static/css/skins/_all-skins.min.css")
    @Styles.Render("~/Static/plugins/iCheck/flat/blue.css")
    @Styles.Render("~/Static/plugins/morris/morris.css")
    @Styles.Render("~/Static/plugins/datatables/dataTables.bootstrap.css")
</head>
<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo"><b>Admin</b>LTE</a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li><a href="#download"><i class='fa fa-circle-o'></i>首页</a></li>
                    <li><a href="#download"><i class='fa fa-circle-o'></i>文件管理</a></li>
                    <li><a href="/File/UploadFile"><i class='fa fa-circle-o'></i>上传文件</a></li>
                    <li><a href="#download"><i class='fa fa-circle-o'></i>用户管理</a></li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.0
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
        </footer>
    </div><!--/.wrapper-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    @Scripts.Render("~/Static/plugins/morris/morris.min.js")
    @Scripts.Render("~/Static/plugins/sparkline/jquery.sparkline.min.js")
    @Scripts.Render("~/Static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")
    @Scripts.Render("~/Static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")
    @Scripts.Render("~/Static/plugins/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Static/plugins/datatables/dataTables.bootstrap.js")
    @Scripts.Render("~/Static/plugins/slimScroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/Static/plugins/knob/jquery.knob.js")
    @Scripts.Render("~/Static/plugins/daterangepicker/daterangepicker.js")
    @Scripts.Render("~/Static/js/app.min.js")

    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $("#example1").dataTable();
</script>
